* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  grid-column: 1/ -1;
  display: inline;
}

nav {
  grid-column: 1/ -1;
  display: flex;
  gap: 20px;
}
.home-nav {
  display: inline;
  gap: 20px;
}

main {
  grid-column: 1/-1;
}

footer {
  grid-column: 1/-1;
}